@model Greetings.StartupAndMiddleware.Models.GreetingModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Boas vindas</title>
</head>
<body>
    <center>
        <h1>@Model.Message</h1>

        <div>
            <p>Data: @Model.CreateDate</p>
            <p>Identificador: @Model.Id</p>
        </div>
    </center>
</body>
</html>
